langchain_google_genai
langchain_community 
langchain 
pymysql 
chromadb
python-dotenv
ipykernel
langchain-huggingface
langchain-chroma
sentence-transformers
pypdf
pathlib
semantic-router
cryptography
numpy
streamlit